body { font-family: Arial, Helvetica, sans-serif; }

/* Style nav menu */
nav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Style nav menu links */
nav a, .icon {
    color: white;
    padding: 14px 16px;
    margin: 1px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    float: none;
    display: block;
    border: 1px solid white;
}

/* Add background color on mouse-over */
nav a:hover, .icon:hover {
    background-color: #38b6ff;
    color: black;
}

img {
    max-width: 90%;
    padding-left: 5%;
}

/* Style hamburger menu */
.icon {
    background: black;
    padding: 14px;
    position: absolute;
    right: 8px;
    top: 8px;
}

.main-page {
    margin-left: 15%;
    margin-right: 15%;
}

@media screen and (min-width: 600px) {
    /* Style nav menu links */
    nav a { float: left; }
}

@media screen and (min-width: 900px) {
    /* Hide hamburger menu */
    .icon { display: none; }
}